* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

html {
  font-size: 1.125rem;
}

p {
  line-height: 1.5;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 680px;
  margin-inline: auto;
}

header {
  padding-block: 96px 64px;
}

.intro-chunk {
  max-width: 500px;
  padding-inline: 32px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.title {
  margin-block-end: 64px;
}

main {
  background: hsl(0deg, 0%, 60%);
  border-block-start: solid 8px hsl(0deg, 0%, 40%);
  padding-block: 96px;
}

.card {
  padding-block: 16px;
  padding-inline: 32px;
  background: hsl(0deg, 0%, 100%);
  border-block-end: solid 8px hsl(0deg, 0%, 40%);
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  border-block-end: solid 8px hsl(45deg, 100%, 40%);
  width: fit-content;
  padding-block: 24px;
  padding-inline: 48px;
  margin-inline-start: -48px;
  margin-block-start: -8px;
}
